[submodule "packages/ids"]
	path = packages/ids
	url = https://github.com/openbimrs/ids.git
[submodule "packages/icdd"]
	path = packages/icdd
	url = https://github.com/openbimrs/icdd.git
[submodule "packages/cde"]
	path = packages/cde
	url = https://github.com/openbimrs/cde.git
[submodule "packages/ifc"]
	path = packages/ifc
	url = https://github.com/openbimrs/ifc.git
[submodule "packages/step"]
	path = packages/step
	url = https://github.com/openbimrs/step.git
[submodule "packages/epd"]
	path = packages/epd
	url = https://github.com/openbimrs/epd.git
[submodule "packages/gaeb"]
	path = packages/gaeb
	url = https://github.com/openbimrs/gaeb.git
[submodule "packages/citygml"]
	path = packages/citygml
	url = https://github.com/openbimrs/citygml.git
[submodule "packages/openbimrl"]
	path = packages/openbimrl
	url = https://github.com/openbimrs/openbimrl.git
[submodule "packages/bsdd"]
	path = packages/bsdd
	url = https://github.com/openbimrs/bsdd.git
[submodule "packages/loin"]
	path = packages/loin
	url = https://github.com/openbimrs/loin.git
[submodule "packages/idm"]
	path = packages/idm
	url = https://github.com/openbimrs/idm.git
[submodule "packages/dt"]
	path = packages/dt
	url = https://github.com/openbimrs/dt.git
