[submodule "packages/ids"]
	path = packages/ids
	url = https://github.com/openbimrs/ids.git
[submodule "packages/icdd"]
	path = packages/icdd
	url = https://github.com/openbimrs/icdd.git
[submodule "packages/cde"]
	path = packages/cde
	url = https://github.com/openbimrs/cde.git
[submodule "packages/ifc"]
	path = packages/ifc
	url = https://github.com/openbimrs/ifc.git
[submodule "packages/epd"]
	path = packages/epd
	url = https://github.com/openbimrs/epd.git
